@import "_variables.scss";
@import "_mixins.scss";

@import "_globals.scss";

@import "_page-style.scss";

a.sweet {
	color: #a19d93;
	text-decoration: none;
		& img {
		border: 10px solid $background-color;
	}
}

@include clearfix;
